* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PublicSans';
  src: url('/fonts/PublicSans.woff2') format('woff2'),
       url('/fonts/PublicSans.woff') format('woff');
  
}

/* globals */
.css:root {

  --text-color: #000;
  --card-background-color: #f9f9f9;
  --card-text-color: #333;
}

[data-theme='dark'] {
  --background-color: #121212 !important;
  --text-color: #e0e0e0;
  --card-background-color: #1e1e1e;
  --card-text-color: #e0e0e0;
}




.css-gcpdnc {
  padding: 24px 0px 0px 5px !important;
}