/* styles.module.css */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.container {
  display: flex;
}
.container1{
  display: flex;
}
.__className_36bd41 {
  background-color: #F8F7FA !important;
}

.sidebar {
  display: flex;
  height: 100vh;
  /* position: relative; */
  /* Set the width of the sidebar */
}

.content {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin: 0px;
}


.title {
  margin: 0;
  font-family: '__Public_Sans_e464a5', '__Public_Sans_Fallback_e464a5';
  font-weight: 500 !important;
  font-size: 1.125rem !important;
  line-height: 1.5556;
  color: rgb(47 43 61 / 0.9);
  display: block;
}

.creditcard-icon {
  color: crimson;
}


@media (max-screen:991px) {
  .orderCard {
    flex-direction: column;
  }

}