.icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    font-size: 26px;
    line-height: 1.2;

    border-radius: 5px;
}

.title1 {
    font-family: "Public Sans", sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 1.58334 !important;

}

.title2 {
    font-family: "Public Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.9375rem !important;
    line-height: 1.46667 !important;

}

.css-1tzjuiy-MuiPaper-root-MuiCard-root {
    box-shadow: 0px 3px 12px rgb(47 43 61 / 0.14);
}

.css-1w9lnhz-MuiGrid-root>.MuiGrid-item {
    padding-left: 1.5rem;
}

.css-1w9lnhz-MuiGrid-root>.MuiGrid-item {
    padding-top: 1.5rem;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 16px !important;
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px;
}

.css-r3cxwx-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px;
    color: #E7E3FC99;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 16px !important;
}

.idColor {
    color: #7367F0 !important;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.46667;
}

.css-1ghc09a-MuiButtonBase-root-MuiButton-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #7e34da;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.css-kyo57x-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    color: #fff !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.css-kyo57x-MuiButtonBase-root-MuiButton-root:not(.Mui-disabled) {
    box-shadow: 0px 2px 6px rgb(115 103 240 / 0.3) !important;
}

.css-s1ix2f-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-7psncq-MuiButtonBase-root-MuiButton-root {
    background-color: #7e34da !important;
    color: #fff !important;
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-1lplqdb-MuiSelect-select-MuiInputBase-input-MuiOutline {
    padding: 9.5px 14px !important;
}

.css-1lhjddt-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-1lhjddt-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #7C4DFF !important;
}

.css-ej3joj-MuiTablePagination-root .MuiTablePagination-displayedRows {
    order: -1 !important;
}

.clientname {
    font-weight: 500 !important;
    font-family: "Public Sans", sans-serif !important;
    font-size: 0.9375rem;
    line-height: 1.46667;
}

.clientemail {
    font-family: "Public Sans", sans-serif !important;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.53846154;
}

.total {
    font-family: "Public Sans", sans-serif !important;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.46667;
}

.date {
    font-family: "Public Sans", sans-serif !important;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.46667;

}

.MuiTablePagination-root {
    justify-content: space-between !important;
    align-items: center;
}

.pagination-actions {
    display: flex !important;
    align-items: center;

}

.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(73 70 95 / 80%);
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {

    font-size: 0.9882rem !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    width: 35px;
    background-color: #80808014;
    border-radius: 4px;
    margin-right: 5px;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    /* background-color: transparent; */
    color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    background-color: #80808014;
    margin-right: 6px;
}

.css-11ejmob-MuiTablePagination-root .pagination-actions .MuiIconButton-root.active {
    background-color: #7C4DFF !important;
    color: white !important;
    border-radius: 10px !important;
    width: 35px !important;
    height: 38px !important;

}

.css-11ejmob-MuiTablePagination-root .MuiTablePagination-displayedRows {
    margin-right: auto;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1 !important;
    color: black;
}

.pagination-actions .MuiIconButton-root:hover {
    background-color: rgba(124, 77, 255, 0.1);
}

.pagination-actions .MuiIconButton-root.active:hover {
    background-color: #7C4DFF;
    border-radius: 10px;
}

.css-1lplqdb-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-1psng7p-MuiTablePagination-spacer {
    -webkit-flex: none;

}

.css-levciy-MuiTablePagination-displayedRows {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.46667;
    color: rgb(47 43 61 / 0.4);
    margin-bottom: 0px;
}

.css-ej3joj-MuiTablePagination-root .css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
    color: #E7E3FC99;
    width: 35px;
    font-size: 0.8125rem !important;
    line-height: 1.53846;
    font-weight: 400;
    height: 35px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0 2px;
    background-color: rgb(225 222 245 / 0.08);
}

.css-ej3joj-MuiTablePagination-root .pagination-actions .MuiIconButton-root.active {
    background-color: rgb(138 102 255 / 96%) !important;
}

@media (max-width:1199px) {
    .container{
        margin: 0px !important;
    }
    .css-21z0fo-MuiTableCell-root {
        padding: 10px !important;
    }
}

@media (max-width:1024px) {
    .css-4xl1zx-MuiTableCell-root {
        padding: 16px 0px 16px 0px !important;
    }

    .css-21z0fo-MuiTableCell-root {
        padding: 10px !important;
    }
}

@media (max-width:991px) {
    .css-21z0fo-MuiTableCell-root {
        padding: 8px !important;
    }

    .deleteicon {
        margin-right: 2px !important;
    }

    .eyeicon {
        margin-right: 2px !important;
    }

    .morevericalicon {
        margin-right: 2px !important;
    }
}

@media (max-width:767px) {
    .lists {
        border-right: none;
    }
}

@media (max-width:567px) {
    .lists {
        border-right: none;
    }

    .deleteicon {
        margin-right: 2px !important;
    }

    .eyeicon {
        margin-right: 2px !important;
    }

    .morevericalicon {
        margin-right: 2px !important;
    }

    .css-21z0fo-MuiTableCell-root {
        padding: 8px !important;
    }
}

@media (max-width:400px) {
    .lists {
        border-right: none !important;
    }

    .last-child {
        padding-right: 18px;
    }

    .tbl-row {
        display: none;
    }

    .css-iyen05-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        width: 30%;
    }

    .css-1sp6htu {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: row;
    }

    .css-11lmjid-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        width: 30%;
    }
}