.css-1isesj-MuiGrid-root {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0px !important;
    width: 100% !important;
    margin-left: 0px !important;
}

.css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 15px;
    width: 100%;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8.5px 14px !important;
}

.css-ed0kr0-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 6px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8.5px 14px !important;
}

.css-1yt665i-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 6px !important;
}

.css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 2px !important;
    margin-bottom: 15px !important;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8.5px 14px !important;
}

.css-ojmka6-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(47 43 61 / 0.9) !important;
    font-family: "Public Sans", sans-serif !important;
    font-size: 0.8125rem !important;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    font-size: 1rem !important;
    color: rgb(0 0 0 / 82%) !important;
}

.css-lll1vm-MuiButtonBase-root-MuiButton-root {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #7367F0 !important;
}

.css-lll1vm-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-1d73err-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    color: #FFFFFF !important;
}

.css-1d73err-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-1d73err-MuiButtonBase-root-MuiButton-root:not(.Mui-disabled) {
    box-shadow: 0px 2px 6px rgb(115 103 240 / 0.3) !important;
}

.css-jcwuwq-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    color: #FFFFFF !important;
}

.css-jcwuwq-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-jcwuwq-MuiButtonBase-root-MuiButton-root:not(.Mui-disabled) {
    box-shadow: 0px 2px 6px rgb(115 103 240 / 0.3) !important;
}

.css-1o011v7-MuiButtonBase-root-MuiButton-root {
    color: #7367F0 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #7367F0 !important;
}

.css-acmxwm-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 6px !important;
}

.css-1ue09if-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 6px !important;
}

.msgicon {
    margin-top: -45px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.Mui-focued.MuiInputBase-formControl.MuiInputBase-multiline.MuiInputBase-adornedStart.css-1ue09if-MuiInputBase-root-MuiOutlinedInput-root:focus {
    border: 1px solid #7367F0 !important;
}



.css-s1ix2f-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-14cbef0-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    color: #808390 !important;
    background-color: rgb(128 131 144 / 0.16) !important;
    border: none !important;
}

.css-18k87ye-MuiTypography-root {
    font-family: "Public Sans",
        sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.125rem !important;
    line-height: 1.5556 !important;

}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-1h9uykw-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-1ea1xhh-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-1lplqdb-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-r4ye99-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    color: #FFFFFF !important;
    border-radius: 6px !important;
}

.css-r4ye99-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-r4ye99-MuiButtonBase-root-MuiButton-root:not(.Mui-disabled) {
    box-shadow: 0px 2px 6px rgb(115 103 240 / 0.3) !important;
}

.css-1vbvugf-MuiButtonBase-root-MuiButton-root {
    background-color: rgb(128 131 144 / 0.16) !important;
    color: #808390 !important;
    border: none !important;
    border-radius: 6px !important;
}

.css-1vbvugf-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(128 131 144 / 0.24) !important;
}

.css-121nniy-MuiTypography-root {
    margin: 0;
    font-family: "Public Sans", sans-serif !important;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    margin-bottom: 1.35em !important;
    margin-top: 16px;
}

.css-19y4x2s-MuiTypography-root {
    margin-bottom: 1.35em !important;
}

.css-13b10ac-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 0.9855rem !important;
    margin-bottom: 1px;
}

.css-8hnn5p-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #7367F0 !important;
}

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #7367F0 !important;
}

.css-1whvvue-MuiPaper-root-MuiAccordion-root::before {
    position: absolute;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-q0kqqg-MuiPaper-root-MuiAccordion-root {
    padding: 4px !important;
    border-radius: 4px;
}

.css-q0kqqg-MuiPaper-root-MuiAccordion-root:first-of-type {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.css-q0kqqg-MuiPaper-root-MuiAccordion-root:last-of-type {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    display: contents;
}

.cardnumber {
    max-width: 51% !important;
}

.nameofcard {
    max-width: 51% !important;
}

.css-mhc70k-MuiGrid-root {
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.expirydate {
    max-width: 20% !important;
}

.cvvnumber {
    max-width: 20% !important;
}

.css-d6u5fk {
    padding: 40px !important;
}

.css-jzcd7z-MuiFormControlLabel-root .MuiFormControlLabel-label {
    display: contents;
}

.css-ks5lho-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #7367F0 !important;
}

.css-1vpl9xp-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    color: #FFFFFF !important;
    border-radius: 6px !important;
}

.css-1vpl9xp-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
    background-color: #7367F0 !important;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    color: #FFFFFF !important;
    border-radius: 6px !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(103, 92, 216) !important;
}

.css-1c94iir-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #7367F0 !important;
}

.css-3sx0hq-MuiTabs-indicator {
    background-color: #7367F0 !important;
}

.css-1lhjddt-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-1lhjddt-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #7367F0 !important;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-left: 0px !important;
    padding-right: 16px !important;
}

@media (max-width:991px) {}

@media(max-width:768px) {
    .basicformbtn {
        display: block !important;
    }

    .MuiTabs-root.css-1ujnqem-MuiTabs-root {
        overflow-x: scroll !important;
    }

    .MuiTabs-scroller.MuiTabs-fixed.css-jpln7h-MuiTabs-scroller {
        overflow-x: scroll !important;
        overflow: none !important;
    }

    .expirydate {
        max-width: 100% !important;
    }

    .cvvnumber {
        max-width: 100% !important;
    }

    .cardnumber {
        max-width: 100% !important;
    }

    .nameofcard {
        max-width: 100% !important;
    }

    .css-d6u5fk {
        padding: 8px !important;
    }

    .css-h93ljk-MuiTypography-root {
        font-size: 0.9975rem !important;
    }

    .css-1b3l6lk-MuiGrid-root {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .deliveryoption {
        display: block !important;
    }
}



@media(max-width:400px) {
    .basicformbtn {
        display: block !important;
    }

    .MuiTabs-root.css-1ujnqem-MuiTabs-root {
        overflow-x: scroll !important;
    }
}